/*body {
	background: #444 url('/img/body.jpg');
	color: #444;
	font: normal 1.2em Verdana,Arial,sans-serif;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 64px;
}*/

* {
	margin: 0;
	padding: 0;
}

/*header*/

.header {
	height: 100px;
	box-shadow: 0 0 10px rgb(0 0 0 / 17%);
	border: 1px solid #ececec;
	background-color: #ffffff;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.menu {
	display: flex;
	justify-content: center;
}

.menu li {
	position: relative;
	list-style-type: none;
}

.menu li:hover .box__menu__link {
	display: flex;
}

.menu__link {
	text-decoration: none;
	display: block;
	padding: 20px 25px;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu__link:hover {
	color: #f16d7f;
}

.menu__home__list a {
	color: #646464;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.35px;
}

.top__box {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.top__box__left {
	display: flex;
	align-items: center;
}

.top__box__right {
	display: flex;
	align-items: center;
}

.logo__name {
	margin-left: 9px;
	margin-top: 13px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-align: center;
}

.last__logo__name {
	margin-right: 37px;
	margin-top: 13px;
	font-family: 'Lato', sans-serif;
	color: #f16d7f;
	font-size: 27px;
	font-weight: 900;
	text-align: center;
}

.top__logo {
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: .2s;
}

.top__logo:hover {
	animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.top__box__form {
	display: flex;
}

.browse__menu {
	margin-top: 13px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e6e6e6;
	box-sizing: border-box;
	background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	width: 87px;
	height: 38px;
	margin-left: 35px;
}

.browse__menu li {
	display: flex;
	position: relative;
	margin-top: 9px;
	list-style: none;
}

.browse__menu a {
	font-family: 'Lato', sans-serif;
	color: #222222;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	margin-left: 13px;
	text-decoration: none;
}

.search__items {
	padding-left: 18px;
	margin-top: 13px;
	border-style: solid;
	border-width: 1px;
	border-right-width: 0;
	border-color: #e6e6e6;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 277px;
	height: 38px;
}

.seacrh__button {
	margin-top: 13px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e6e6e6;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 40px;
	height: 38px;
}

.button__account {
	background-color: #f16d7f;
	border: 1px solid transparent;
	margin-left: 45px;
}

.button__account:hover {
	background-color: #fff;
	color: #f16d7f;
	border: 1px solid #f16d7f;
}

.button__account:hover .my-account:before {
	border-color: #f16d7f transparent transparent transparent;
}

.my-account {
	color: #ffffff;
	position: relative;
	text-align: center;
	width: 130px;
	height: 38px;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}

.my-account .baplink {
	transition: color .5s, background-color .5s;
}

.my-account:before {
	content: "";
	display: block;
	position: absolute;
	top: 16px;
	right: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 4px 0 4px;
	border-color: #fafafa transparent transparent transparent;
}

/*end*/

.top__brand {
	height: 613px;
	background-color: #e8e8e8;
}

.brand__men {
	height: 100%;
	background: url(../img/banner.jpg) 0 -51px;
}

.brand__logo {
	margin-top: 224px;
	border-left: 12px solid #f16d7f;
	float: left;
	padding-left: 12px;
	transition-delay: .5s;
}

/*.gallery img{
	margin:5px;
	border:3px solid #fff;
}
a.photo:hover img{
	border:3px solid #034F80;
}
a {
	color: white;
}
#main {
	width:858px;
	margin:0 auto;
	background: #4A4A4A;
	color: #CCC;
}
.post_title h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
}
a:hover img{
border:3px solid #034F80;
animation: movement 0.2s infinite;
-webkit-animation: movement 0.2s infinite;
	}

 */

/*footer*/

.container-footerwrap {
	width: 100%;
	height: 458px;
}

.container-foote {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1140px;
}

.container-foote h3 {
	font-family: 'Lato', sans-serif;
	color: #f16d7f;
	font-size: 18px;
	font-weight: 700;
	line-height: 85px;
	text-transform: uppercase;
}

.text__first__logo {
	color: #222222;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 45px;
	margin-bottom: 20px;
}

.text__last__logo {
	color: #222222;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 31px;
}

.brand__logo__span {
	color: #f16d7f;
}

.footer-logotext {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 427px;
	margin-top: 18px;
}

.footer-logotext p {
	margin-left: 12px;
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-align: center;
}

.footer-logotext span {
	margin-right: 37px;
	margin-top: 13px;
	font-family: 'Lato', sans-serif;
	color: #f16d7f;
	font-size: 27px;
	font-weight: 900;
	text-align: center;
}

.footer-logotext h3 {
	font-family: 'Lato', sans-serif;
	color: #f16d7f;
	font-size: 18px;
	font-weight: 700;
	line-height: 85px;
	text-transform: uppercase;
}

.footer-logo {
	display: flex;
	width: 100%;
	height: 51px;
}

.container-foote li, a {
	list-style: none;
	font-family: 'Lato', sans-serif;
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
}

.footer-objec p {
	font-family: 'Lato', sans-serif;
	color: #898989;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	text-transform: none;
	padding-top: 13px;
	margin-left: 0;
}

.futer-naverap {
	margin-top: 23px;
	display: flex;
	justify-content: space-around;
	width: 700px;
}

.futer-naverap {
	margin-top: 23px;
	display: flex;
	justify-content: space-around;
	width: 700px;
}

.footer-company {
	margin-left: 6px;
}

.footer-information {
	margin-left: 39px;
}



.container-foote ul {
	padding-bottom: 25px;
}

.container-foote li,
a {
	list-style: none;
	font-family: 'Lato', sans-serif;
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
}

.container-foote a:hover {
	color: #f16d7f;
}

.footer {
	background-color: #e6e6e6;
	width: 100%;
	height: 79px;
}

.footer-copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1140px;
	height: 100%;
}

.footer-soc {
	display: flex;
	justify-content: space-between;
	width: 191px;
}

.footer-soc i {
	color: #ffffff;
	font-size: 32px;
}

.footer-soc a:hover i {
	color: #f16d7f;
}

.footer__end-text {
	font-family: 'Lato', sans-serif;
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
}

.fa-facebook-square:before {
	content: "\f082";
}

.product__breadcrumb {
	padding: 8px 16px;
	list-style: none;
	background-color: #f8f3f4;

}

.n__arrives h1 {
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F;
	text-transform: uppercase;
}

.product__breadcrumbs li>a,
.catalog__breadcrumbs li>a {
	text-decoration: none;
	color: #636363;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
}

.breadcrumb li {
	display: list-item;

}



.breadcrumb li+li:before {
	padding: 8px;
	color: #636663;
	content: "/\00a0";
}


.breadcrumb li a {
	color: #636363;
}

.breadcrumb li a:before {
	color: #f16d7f;
}

.arrival__link:before {
	color: #f16d7f;
}

.new__arrival__left,
.new__arrival__right {
	display: flex;
	align-items: center;
}

.arrival__link {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	color: #636363;
}

.new__arrival {
	display: flex;
	justify-content: space-between;
	height: 100%;
	background-color: #f8f3f4;
}

.new__arrivals {
	font-size: 24px;
	text-transform: uppercase;
	color: #f16d7f;
	font-weight: 900;
}

.top__arrival {
	background-color: #f8f3f4;
	height: 160px;
}

.container__slider {
	width: 1140px;
	margin: 0 auto;
}

.carousel-caption h3 {
	color: #f16d7f;
}

.carousel-control-prev-icon {
	background-color: #0f0f0f;
}

.slider__img {
	background-color: #f7f7f7;
}

.shipping__address {
	display: flex;
	justify-content: space-between;
}

.shipping__address__text {
	display: flex;
	justify-content: space-between;
}

.n__arrives {
	background-color: #f8f3f4;
}



.box__arrives {
	display: flex;
	height: 148px;

	display: flex;

	align-items: center;

	justify-content: space-around;
}

.footer__subscribe {
	/*   height: 448px;
    padding-right: 230px;
    padding-left: 230px;*/
	background-image: url(img/footer_bg.png);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 126px;
	padding-top: 86px;
}

.footer__subscribe-text {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	margin-top: 32px;
	color: #222224;
}

.footer__subscribe-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__subscribe-box h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 167.2%;
	text-align: center;
}


.footer__form {
	margin-top: 32px;
	display: flex;
}



.input__form {
	height: 49px;
	width: 322px;
	background-color: #E1E1E1;
	color: #222224;
	border: none;
	border-radius: 20px 0 0 20px;
	opacity: 0.4;
	text-indent: 22px;
	font-size: 14px;
	line-height: 17px;
	opacity: 1;
}

.email {
	height: 49px;
	width: 100px;
	border: none;
	border-radius: 0 20px 20px 0;
	opacity: 0.4;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background-color: #F16D7F;
	opacity: 1;
}

.footer__end {
	background-color: #e6e6e6;
	/*    width: 100%;*/
	height: 79px;

}

.footer__end-img {
	font-family: 'Lato', sans-serif;
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
}

.footer__copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1140px;
	height: 100%;
}

.comunity {
	margin-top: 95px;
	height: 438px;
	display: flex;
	justify-content: center;
	position: relative;
}

.comunity__container {
	max-width: 1140px;
	height: 100%;
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
}

.com__left {
	width: 500px;
	display: flex;
	flex-direction: row;
	margin-top: 110px;
}

.com__center {
	height: 100%;
	width: 1px;
	background-color: white;
}

.com__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer__end-text {
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}

.insta {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-image: url(img/4.png);
}

.insta:hover {
	background-image: url(img/hover\ insta.png);
	background-position: 0 -32px;

}

/*end*/

.card__box {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.product-text-box {
	padding: 20px 15px;
}

.card_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 15px;
}

.product-img {
	width: 100%;
}

.card {

	display: block;
}

.item {
	position: relative;
	width: 263px;
	margin-bottom: 40px;
}

.item:hover {
	box-shadow: 0 -3px rgb(352,55,95) inset;
}

.product-price {
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.fab fa-gratipay {
	color: #f16d7f;
}

.product-text {
	color: #222222;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.buy {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(352,55,95);
	box-shadow: 0 -3px rgb(255,41,77) inset;
	transition: 0.2s;
}

.buy:hover {
	background: rgb(352, 55, 95);
}

.delete {
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(352,55,95);
	box-shadow: 0 -3px rgb(255,41,77) inset;
	transition: 0.2s;
}

.delete:hover {
	background: rgb(352, 55, 95);
}

.feed__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 0 57px 0;
}

.feed__form input {
	width: 360px;
	height: 45px;
	border: 1px solid #A4A4A4;
	padding: 0 17px 0 17px;
	margin: 0 0 20px 0;
}

.feed__form button {
	background: none;
	text-transform: uppercase;
	border: 1px solid #A4A4A4;
	padding: 11px 14px 11px 14px;
	font-style: normal;
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	color: #4A4A4A;
	cursor: pointer;
}

.feed:hover {
	color: #f16d7f;
}

.submit:hover {
	background: rgb(352, 55, 95);
}

.upload-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: 400px;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #e0f2f7;
	font-family: 'Segoe UI';
	color: #1f3c44;
}

.container__sale {
	max-width: 1140px;
	margin: 0 auto;
}

.container__sale__box {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.sale__box__left, .sale__box__right {
	display: flex;
	flex-direction: column;
	/* width: 560px; */
	justify-content: space-between;
}

.sale__box__left a, .sale__box__right a {
	display: block;
	position: relative;
	/* background-color: #dadad2; */
}

.sale-img {
	max-width: 100%;
	height: auto;
}

.box__left__text {
	position: absolute;
	padding: 16px 18px;
	top: 26px;
	z-index: 1;
	background-color: white;
	transition: background-color .5s;
}

.box__left__text p {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.box__left__text h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
	transition: color .5s;
}

.box__left__text {
	position: absolute;
	padding: 16px 18px;
	top: 26px;
	z-index: 1;
	background-color: white;
	transition: background-color .5s;
}

.box__left__man, .box__right__kidz {
	transition: all .5s;
}

.box__right__kidz, .box__left__man {
	transition: all .5s;
}

.box__left__accessories img {
	float: right;
}

.box__left__accessories {
	background-color: #dadad2;
}

.box__right__women, .box__left__accessories {
	transition: all .5s;
	margin: 0 0 14px;
}


.box__left__man:hover {
	animation: saleAnim 1s ease 0s 1 normal both;
	transition: all .1s;
}

.box__right__kidz:hover {
	animation: saleKid 1s ease 0s 1 normal both;
;
}

.box__right__women:hover {
	animation: saleWomen 1s ease 0s 1 normal both;
;
}

.box__left__accessories:hover {
	animation: saleAcc 1s ease 0s 1 normal both;
}

@keyframes saleAcc {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
		transform: scale(1.1) translateX(-12px) translateY(12px);
	}
}

@keyframes saleWomen {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1) translateX(0);
	}

	100% {
		box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
		transform: scale(1.1) translateX(12px);
	}
}

@keyframes saleKid {

	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
		transform: scale(1.1) translateX(12px) translateY(12px);
	}
}

@keyframes saleAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1) translateX(0) translateY(0);
	}

	100% {
		box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
		transform: scale(1.05) translateX(-12px) translateY(-12px);
	}
}




